body {
	margin: 0px;
	padding: 0px;
	width:100vw;
	height:100vh;
}
body nav{
	position:relative;
	margin: 0px;
	padding: 0px;
	width:100%;
	height:5%;
	background-color:black;	
}
 
body nav ul {
	list-style-type:none;
	position:absolute;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}
body nav ul li {
	float:left;
	font-size:130%;
	padding-right: 2%;
	height:100%;
	background-color:black;	
}
body nav ul li a{
	color:white;
	display:block;
}
body nav ul li:hover, body nav ul li:hover a{
	background-color:grey;
	color:green;
}
body main { 
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 75%;
	background-image:url("./default background.png");
	background-size:cover;
	background-repeat:no-repeat;
}

body ul li img {
	width:30px;
	height:30px;
	padding-left: 40px;
}
body footer {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 20%;
}
body footer iframe {
	width: 100%;
	height: 100%;
}
body footer ul {
	width: 100%;
	height: 100%;
	padding:0px;
	margin: 0px;
	list-style-type: none;
	text-align:center;
	background-color:black;
}
body footer ul li {
	display:inline-block;
	text-align:center;
}
body footer ul li img {
	float: left;
	width: 70px;
	height: 70px;
	display:block;
}